body {
    font-family: Nunito, sans-serif;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    margin: 0 auto;
}

.nav-urls {
    height: 80px;
    border-bottom: 3px solid #efefef;
}

.nav ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;
}

.nav ul li:hover {
    border-bottom: 3px solid #1b5c60;
}

.nav ul li a:hover {
    color: #147880;
}

.nav ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

h1 {
    text-decoration: none;
    color: #2bc1e6;
    font-weight: 600;
    font-size: 36px;
    font-family: Nunito, sans-serif;
    list-style: none;
    padding: 20px;
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
    font-weight: 600;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #a6b0b3;
    display: flex;
    width: 8vw;
    justify-content: space-around;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    color: #929395;
    margin-left: 40px;
    height: 50px;
}

nav ul li:hover {
    border-bottom: 3px solid #adbfc0;
}

nav ul li a:hover {
    color: #a9b7b8;
}

nav ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

.slider-principal img {
    width: 1280px;
    height: 720px;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/anterior.png');
    top: 35%;
    left: 10%;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/proximo.png');
    top: 35%;
    right: 10%;
}

.slick-list {
    width: 100% !important;
}

.slick-initialized {
    overflow: hidden;
}

.slick-dots li button {
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 40%;
    top: 600px;
}

li.slick-active button {
    background: #00bac6;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}

.titulo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    /*2x o tamanho base que é 15px*/
    margin: 1em 0 1em 0;
    /*um espaço para baixo do mesmo tamanho da fonte*/
    clear: left;
    color: #58c0c7;
    /*text-shadow: 2px 2px #FF0000;*/
}

.titulo-principal-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    /*2x o tamanho base que é 15px*/
    margin: 1em 0 1em 0;
    /*um espaço para baixo do mesmo tamanho da fonte*/
    clear: left;
    color: #58c0c7;
    /*text-shadow: 2px 2px #FF0000;*/
}

.principal {
    padding: 1m 0;
    background: #fefefe;
    font-weight: bold;
    width: 940px;
    margin: 0 auto;
}

.principal em {
    font-style: normal;
}

.principal {
    text-align: center;
}

.principal strong {
    color: #646464;
}

.principal h1 {
    text-transform: uppercase;
    font-size: 25px;
    color: #818181;
}

.principal p {
    font-size: 22px;
    color: #484646;
}

.mapa {
    padding: 1em 0;
    /* background: linear-gradient(25deg, #fefefe25, #888888); */
    background-color: #e8e9eb;
}

.mapa-conteudo {
    width: 750px;
    height: 300px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 1em;
    text-align: center;
}

.titulo-principal-mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    /*2x o tamanho base que é 15px*/
    margin: 1em 0 1em 0;
    /*um espaço para baixo do mesmo tamanho da fonte*/
    clear: left;
    color: #4da4a4;
    /*text-shadow: 2px 2px #FF0000;*/
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.praias li {
    display: inline-block;
    text-align: center;
    width: 50%;
    vertical-align: top;
    margin: 0 1%;
    padding: 20px 30px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 50px;
}

.praias li:hover {
    border-color: #4d34ba;
}

.praias li:active {
    border-color: #4c3891;
}

.praias li:hover h2 {
    font-size: 30px;
}

.praias h2 {
    font-size: 35px;
    font-weight: bold;
}

.praias p {
    font-size: 20px;
    color: rgb(63, 79, 137);
    margin-top: 35px;
}

.praias {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

.praias li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5% 20px;
    padding: 30px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #eef3f5;
    background-image: linear-gradient(
        135deg,
        #eef3f5 0%,
        #ffffff 50%,
        #ffffff 100%
    );
}

.praias li:hover {
    border-color: #5a73c5;
}

.praias li:active {
    color: #58c0c7;
}

.praias li:hover h2 {
    font-size: 32px;
}

.praias h2 {
    font-size: 35px;
    font-weight: bold;
    color: #58c0c7;
}

.localizacao {
    font-size: 18px;
}

.praias {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.main-container-gastronomia {
    color: #333232;
    background-color: #e1fdff;
    padding: 10px;
    padding-left: 30px;
    text-align: center;
}

.main-container-gastronomia h2 {
    font-size: 30px;
}

.main-container-gastronomia p {
    font-size: 20px;
}

.container-gastronomia {
    font-size: 35px;
    color: #333232;
    background-color: #e1fdff;
    padding: 10px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.container-gastronomia h2 {
    font-size: 30px;
}

.container-gastronomia h3 {
    font-size: 25px;
}

.container-gastronomia p {
    font-size: 20px;
}

.container-gastronomia-pratos {
    display: flex;
    text-align: center;
    align-items: center;
}

.container-gastronomia-pratos p {
    padding-left: 30px;
}

@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%;
    }
}
